/*Style the ordered list*/
ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside; /* Ensure list numbers are inside the content box */
}

/* Write your CSS below, don't change the rules above. */

/*Element selector*/
p {
  color: red; /* Make the text inside <p> elements red */
}
/*Class selector*/
.note {
  font-size: 20px; /* Increase font size to 20px for better visibility */
}
/*ID selector*/
#id-selector-demo {
  color: green;
}
/*Attribute selector*/
li[value="4"] {
  color: blue;
}
/*Universal selector*/
* {
  text-align: center;
}
