/* Write your code here: */

/* comma means apply this styling to both descendants: h1,h2 */
body h1,h2 {
    color:purple;
}
/* parent is .box and child is .done; parent-child relationship */
.box > .done{
    color:firebrick
}
/* ancestor is ul and descendant is li; css is applied on descendant */
ul li{
    color: blue;
}
/* chaining method; li & done belong to one line of tag */
li.done{
    color: seagreen;
}

/* using combination of above CSS selectors */
ul p.done{
    font-size: 2rem;
}