html {
  background-color: black;
}

img {
  width: 800px;
  height: 450px;
  border: solid white 5px ;
  margin-top: 55px;
  
}
h1 {
  color: white;
  text-transform: uppercase;
  font-size: 45px;
}
p {
  color: white;
  font-size: 15px;
}
div {
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
